%clearfix {
	&:after {
		content:"";
		display: block;
		clear: both;
	}
}

/*---------------------breakpoints--------------------*/
@mixin desctop-big {
	@media (min-width: $desctop-big) {
      @content;
   }
}
// 981-1200px
@mixin desctop {
	@media (max-width: $desctop) {
      @content;
   }
}
  
//769-980px
@mixin tablet-landscape {
	@media (max-width: $tablet-landscape) {
      @content;
	}
}

// 601-768px
@mixin tablet-portrait {
	@media (max-width: $tablet-portrait) {
      @content;
	}
}

// 481-600px
@mixin tablet-small {
	@media (max-width: $tablet-small) {
      @content;
	}
}
  
  //321-480
@mixin phone-landscape {
	@media (max-width: $phone-landscape) {
      @content; 
	}
}

// untill 320px
@mixin phone-portrait {
	@media (max-width: $phone-portrait) {
      @content; 
	}
}
  