/*-----------------------------colors----------------------------*/
// $main-color: rgb(221, 81, 26);
// $accent-color: rgb(221, 81, 26);


/*-----------------------------fonts----------------------------*/
$default-font: "Times New Roman";

$Alegreya: 'Alegreya', serif;
$Scriptina: 'Scriptina', serif;
$Proxima: 'Proxima', serif;
$Playfair: 'Playfair Display', serif;

/*-----------------------------screen resolutions----------------------------*/
$phone-portrait: 320px;
$phone-landscape: 480px;

$tablet-small: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 980px;

$desctop: 1200px;
$desctop-big: 1201px;