
/*-----------------------------layout----------------------------*/
$container-width: 1180px;
$footer-height: 140px;

/*-----------------------------colors----------------------------*/
$blue: rgb(0, 191, 165);
$lightBlue: #20b5a1;
$gray: #455a64;
$black: #373e42;
$yellowish: #f0efe9;



/*-----------------------------fonts----------------------------*/
$default-font: "Times New Roman";

$Alegreya: 'Alegreya', serif;
$Scriptina: 'Scriptina', serif;
$Proxima: 'Proxima', serif;
$Playfair: 'Playfair Display', serif;

/*-----------------------------screen resolutions----------------------------*/

$laptops: 1800px;
$tablets: 1200px;
$phones: 768px;